<!DOCTYPE html>
<html>
<head>
	<title>Auto Dash</title>
  <%= stylesheet_link_tag :application %>
  <%= netzke_init %>
  <%= javascript_include_tag :application -%>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
