<%= form_for(@mileage) do |f| %>
  <% if @mileage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mileage.errors.count, "error") %> prohibited this mileage from being saved:</h2>

      <ul>
      <% @mileage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.number_field :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.number_field :end %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
